.screen-container {
  font-family: "Consolas", "Monaco", "Courier New", monospace;
  /* Font chữ giống code */
  max-width: 500px;
  margin: 20px auto;
  background-color: #1e1e1e;
  /* Màu nền tối giống VS Code */
  color: #d4d4d4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Khi có kết quả => chia thành 2 cột */
.screen-container.with-result {
  display: flex;
  flex-direction: row;
  gap: 30px;
  max-width: 1000px;
}

/* Bên trái */
.left-panel {
  flex: 1;
}

/* Bên phải */
.right-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-panel {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
}

.control-group label {
  color: #9cdcfe;
  margin-right: 10px;
  font-weight: bold;
}

.control-group select {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #555;
  background: #252526;
  color: white;
  outline: none;
}

/* Phần Code Editor */
.code-editor {
  background-color: #1e1e1e;
  padding: 10px;
}

.line {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.keyword {
  color: #c586c0;
  font-weight: bold;
}

/* Màu tím cho EXEC */
.proc-name {
  color: #dcdcaa;
  margin-left: 10px;
}

/* Màu vàng cho tên hàm */
.param-name {
  color: #9cdcfe;
  min-width: 150px;
}

/* Màu xanh dương cho tên biến */
.operator {
  color: #d4d4d4;
  margin-right: 10px;
}

.comma {
  color: #d4d4d4;
  margin-left: 2px;
}

/* Custom Input trong code */
.sql-input {
  background: transparent;
  border: none;
  border-bottom: 1px dashed #555;
  color: #ce9178;
  /* Màu cam đất cho chuỗi string */
  font-family: inherit;
  font-size: 1rem;
  flex: 1;
  /* Tự động giãn full chiều ngang còn lại */
  padding: 2px 5px;
  min-width: 200px;
}

.sql-input:focus {
  outline: none;
  border-bottom: 1px solid #007acc;
  background-color: #2d2d2d;
}

.btn-run {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0e639c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  float: right;
}

.btn-run:hover {
  background-color: #1177bb;
}

.table-container {
  display: flex;
  justify-content: center;
  max-width: 600px;
  /* Căn bảng vào giữa */
  margin-top: 20px;
  width: 100%;
}

.result {
  width: 100%;
  border-collapse: collapse;
  background: white;
  /* Đổi không còn nền đen */
  color: black;
  table-layout: fixed;
  /* Giúp xuống dòng */
}

.result th,
.result td {
  border: 1px solid #444;
  padding: 8px;
  word-wrap: break-word;
  /* Cho phép xuống dòng */
}

.toggle-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.btn-toggle {
  background: #444;
  color: white;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.btn-toggle:hover {
  background: #666;
}